@import './../../../constants/_fonts';

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 425px;
}

.Headline {
  font-family: $PatuaOneReg;
  font-size: 70px;
  padding: 0 200px 24px 200px;
  line-height: 1.11;
  margin: 0;
}

.Logo {
  padding: 32px;
  margin-bottom: 42px;
}

.SubHead {
  font-family: $LatoLight;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  padding: 0 272px 32px 272px;
  margin: 0;
}

@media only screen and (min-width: 1040px) {
  .Container {
    padding-bottom: 42vw;
  }

  .Logo {
    height: 7%;
    width: 11%;
    margin-bottom: 7vh;
  }

  .Headline {
    font-size: 7vw;
    padding-bottom: 2vh;
    width: 62vw;
  }

  .SubHead {
    font-size: 2vw;
    padding-bottom: 3vh;
    width: 48vw;
  }
}

@media only screen and (min-width: 1200px) {
  .Logo {
    height: 84px;
    width: 127px;
  }
}

@media only screen and (min-width: 1300px) {
  .Logo {
    height: 91px;
    width: 138px;
  }
}

@media only screen and (min-width: 1400px) {
  .Logo {
    height: 98px;
    width: 148px;
  }
}

@media only screen and (min-width: 1500) {
  .Logo {
    height: 105px;
    width: 159px;
  }
}

@media only screen and (min-width: 1600) {
  .Logo {
    height: 112px;
    width: 169px;
  }
}
