@import './../../../constants/_fonts';

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 425px;
}

.Headline {
  font-family: $PatuaOneReg;
  font-size: 70px;
  padding: 0 200px 24px 200px;
  line-height: 1.11;
  margin: 0;
}

.Logo {
  padding: 32px;
  margin-bottom: 42px;
}

.SubHead {
  font-family: $LatoLight;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  padding: 0 272px 32px 272px;
  margin: 0;
}

@media only screen and (min-width: 1041px) {
  .Container {
    padding-bottom: 40.9vw;
  }

  .Logo {
    height: 7vw;
    width: auto;
    margin-bottom: 4vh;
  }

  .Headline {
    font-size: 6.7vw;
    padding-bottom: 2.3vh;
    width: 61.5vw;
  }

  .SubHead {
    font-size: 2.3vw;
    padding-bottom: 3vh;
    width: 47.7vw;
  }
}
